.user-cont {
  width: 95vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.visited-paragraph {
  cursor: pointer;
  margin-bottom: 5px;
  text-decoration: underline;
  display: inline-block;
  width: auto;
}

.clicked {
  color: purple;
}

.visited-users-wrapper {
  margin-top: 20px;
  display: inline-block;
  margin-bottom: 40px;
  width: auto;
  margin-left: 20px;
}

.span {
  color: black;
}

.visited-wrap {
  display: inline-block;
  width: auto;
  margin-right: 15px;
}

h2 {
  margin-bottom: 20px;
}

@media (min-width: 991px) {
  .user-cont {
    border: 1px solid #ccc;
    margin-top: 0;
    width: 1198px;
  }

  .user-wrapper {
    margin: 0 8px;
  }
}
